.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 20px;
    gap: 20px;

    h1 {
        color: rgb(42, 42, 43);
    }

    .video-list-wrapper {
      
        video {
            width: 300px;
            height: auto;
            border-radius: 10px;
            border: 1px solid #36f;
            cursor: pointer;
        }

    }
}