<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">  
    <script src="/js/list.js" defer></script>
</head>
<body>
    <h1>Romantic</h1>
    <div class="list-wrapper">
        <div class="video-list-wrapper">
            <video  src="/video/romantic/1" muted ></video>
            <video  src="/video/romantic/2" muted ></video>
            <video  src="/video/romantic/3" muted ></video>
        </div>
    </div>
    <h1>Comedy</h1>
    <div class="list-wrapper">
        <div class="video-list-wrapper">
            <video  src="/video/comedy/1" muted ></video>
            <video  src="/video/comedy/2" muted ></video>
            <video  src="/video/comedy/3" muted ></video>
        </div>
    </div>
    <h1>Test</h1>
    <div class="list-wrapper">
        <div class="video-list-wrapper" id="test">
        </div>
    </div>
</html>