<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">  
</head>
<body>
    <div class="list-wrapper">
        <h1>List</h1>
        <div class="video-list-wrapper">
            <video id="myVideo" src="/video" muted ></video>
        </div>
    </div>

    <script>
        const video = document.getElementById("myVideo");

        video.addEventListener("mouseenter", () => {
            // alert("Mouse entered");
            video.play();
        });

        video.addEventListener("mouseleave", () => {
            video.pause();
        });
    </script>
</html>